    behaviors {
        adj1: adj1 {
            compatible = "zmk,behavior-tap-dance";
            label = "ADJ1";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&bt BT_CLR>;
        };

        adj2: adj2 {
            compatible = "zmk,behavior-tap-dance";
            label = "ADJ2";
            #binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_CLR_ALL>;
        };

        hold_mo_tap_mkp: hold_mo_tap_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MO_TAP_MKP";
            bindings = <&mo>, <&mkp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-while-undecided-linger;
        };

        td_scroll_sniper: td_scroll_sniper {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SCROLL_SNIPER";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&mkp MB1  &td_scroll_sniper
&adj1     &adj2
            >;
            display-name = "Base";
        };

        scroll {
            bindings = <
&trans  &trans
&trans  &trans
            >;
            display-name = "Scroll";
        };

        sniper {
            bindings = <
&trans  &trans
&trans  &trans
            >;
            display-name = "Sniper";
        };
    };
};

&trackball {
    cpi = <2000>;
};

&trackball_listener {
    input-processors = <&zip_xy_scaler 9 20>;

    scroller {
        layers = <1>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_scaler 1 64>,
            <&zip_xy_to_scroll_mapper &zip_scroll_snap>;
    };

    sniper {
        layers = <2>;
        input-processors = <&zip_xy_scaler 1 4>;
    };

    adjust {
        layers = <3>;
        input-processors = <&zip_xy_scaler 1 8>;
    };
};
